
*{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

.Touch{
  background-color: rgba(168, 219, 219, 0.767);
}
.card{
  overflow-x: scroll;
}
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: flex;
  gap: 50px;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-img {
  height: 30vh; /* height relative to viewport height */
  width: 10vw; /* width relative to viewport width */
  object-fit: contain;
  display: inline-block;
  margin-right: 1rem; /* add spacing between images */
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .marquee-img {
    height: 25vh; /* adjust for smaller screens */
    width: 15vw; /* adjust for smaller screens */
  }
  .marquee-content {
    gap: 40px;
    animation: marquee 15s linear infinite;
     
  }
}

@media (max-width: 992px) {
  .marquee-img {
    height: 20vh; /* adjust for smaller screens */
    width: 20vw; /* adjust for smaller screens */
  }
  .marquee-content {
    gap: 30px; /* adjust gap for smaller screens */
  }
}

@media (max-width: 768px) {
  .marquee-img {
    height: 15vh; /* adjust for smaller screens */
    width: 25vw; /* adjust for smaller screens */
  }
  .marquee-content {
    gap: 20px; /* adjust gap for smaller screens */
  }
}

@media (max-width: 576px) {
  .marquee-img {
    height: 10vh; /* adjust for smaller screens */
    width: 30vw; /* adjust for smaller screens */
  }
  .marquee-content {
    gap: 10px; /* adjust gap for smaller screens */
  }
}


.img{
  box-shadow: 0 20px 40px blue;
}
.Education {
  
  background-image: url("../public/Eduteam.jpg");
}




    .input-wrapper {
      width: 50%;
      height: 2.5rem;
      border: none;
      border-radius: 10px;
      padding: 0 15px;
      box-shadow: 0px 0px 8px #ddd;
      background-color: white;
      display: flex;
   
      align-items: center;
    }
    @media (max-width: 576px) {
      .input-wrapper {
        width: 90%;
      }
    }
    
    input {
      background-color: transparent;
      border: none;
      height: 100%;
      font-size: 1.25rem;
      width:100%;
      margin-left: 5px;
    }
    
    input:focus {
      outline: none;
    }
    
    #search-icon {
      color: royalblue;
    }
    .results-list {
      position: absolute;
      right: 10px;
      background-color: white;
      z-index: 10;
      width: 40%;
      margin: auto;
     

      display: flex;
      flex-direction: column;
      box-shadow: 0px 0px 8px #ddd;
      border-radius: 10px;
    
      max-height: 300px;
      overflow-y: auto;
    }
    @media (max-width: 576px) {
      .results-list {
        width: 80%;
         /* adjust for smaller screens */
        right: 0px; /* adjust right position for smaller screens */
      }
    }
    .search-result {
      padding: 10px 20px;
    }
    
    .search-result:hover {
      background-color: #efefef;
    }

    